/* phone */
@media (max-width: 767px){
	.top-line{
		ul{
			li{
				margin-right: 10px;
			}
		}
		.number{
			font-size: 17px;
			padding-top: 2px;
			float: right;
		}
	}
	.heading{
		padding-top: 20%;
		h1{
			font-size: 35px; 
		}
		h2{
			font-style: 20px;
		}
	}

};
/* table */
@media (max-width:991px) and (min-width:768px){
	.top-line{
		ul{
			text-align: center;
			li{
				margin-right: 20px;
			}
		}
	}
	.navbar-header {
		float: none;
	}

	.navbar-left, .navbar-right {
		float: none !important;
	}

	.navbar-toggle {
		display: block;
	}
	.navbar-collapse{
		box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	}
	.navbar-collapse.collapse {
		display: none !important;
	}

	.navbar-nav {
		float: none !important;
	}

	.navbar-nav > li {
		float: none;
	}

	.collapse.in {
		display: block !important;
	}
};
/*min-desctop*/
@media (max-width:1199px) and (min-width:992px){
	.top-line{
		form{
			input{
				width: 70%;
			}
			button{
				width: 25%;
			}
		}
	}
};
/*max-desctop*/
@media (min-width:1200px){

};