@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body{
	font-size: 14px;
	color: #333;
	background: black; 
}
.top-line{
	background:red; 
	padding: 10px 0; 
	ul{
		margin:0px;
		padding:0px; 
		list-style: none;
		li{
			display: inline-block;
			margin-right:20px; 
			a{
				font-size: 20px;
				text-decoration: none;
				color: #fff;
				i{
					
				}
				span{
					text-transform: uppercase;
					font-size: 16px;
				}
			}
		}
		li:last-child{
			margin-right: 0px; 
		}
	}
	form{
		input{
			width: 60%;
			float: left;
			margin-right: 5px;
		}
		button{
			width: 20%;
			float: left;
		}
	}
}