@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
	font-size: 16px;
	color: #333;
	background: #fff; 
	font-family: Arial;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	overflow-scrolling: touch;
	-webkit-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
}
p{
	line-height: 25px;
}
.filter{
	background: rgba(0, 0, 0, 0.8) !important;
}
.fixed{
	position: fixed;
	top:0;
	left:0;
	right: 0;
}
.block-padding{
	padding:50px 0;
}
.title{
	span{
		color:$pink;
	}
}
header.index{
	position: relative;
	background:url('../img/header-img.jpg') no-repeat;
	background-position: 10% 65%; 
	background-color:#e8e4e1; 
}
.top{
	z-index: 999;
	position: absolute;
	top:0;
	left: 0;
	right: 0;
}
.top-line{
	padding: 10px 0; 
	ul{
		margin:0px;
		padding:0px; 
		list-style: none;
		li{
			display: inline-block;
			margin-right:20px; 
			a{
				font-size: 20px;
				text-decoration: none;
				color: #fff;
				i{
					color: $pink;
					text-shadow:1px 1px 1px black;
				}
				span{
					letter-spacing: 1px;
					font-size: 16px;
					text-shadow:1px 1px 1px black;
				}
			}
		}
		li:last-child{
			margin-right: 0px; 
		}
	}
	.number{
		cursor: pointer;
		display: block;
		text-align: center;
		text-decoration: none;
		color: #fff;
		font-size: 20px;
		text-shadow:1px 1px 1px black;
		i{
			color:$pink;
			text-shadow:1px 1px 1px black;
		}
	}
}
.nav-block{
	z-index: 999;
	.nav-desctop{
		padding: 20px 0 10px 0;
		.logo{
			font-size: 35px;
			padding: 0;
			line-height: 20px;
			color:$pink;
			text-decoration: none;
			span{
				text-shadow:1px 1px 1px black;
			}
		}
		ul{
			margin: 0 0 0 40px;
			padding: 0px;
			list-style: none;
			li{
				display: inline-block;
				margin: 0 30px 0 0;
				border-bottom:2px solid transparent;
				transition: all 0.5s;
				a{
					color:#fff;
					text-decoration:none;
					font-size: 20px; 
					text-shadow:1px 1px 1px black;
				}
			}
			li:last-child{
				margin: 0;
			}
			li:hover{
				border-bottom:2px solid $pink;
			}
			li.activ-link{
				border-bottom:2px solid $pink;
			}
		}
	}
	.navbar-default{
		background: transparent;
		border: 0px solid transparent;
	}
	.navbar-collapse{
		border:0px solid transparent;
		text-shadow:none !important;
	}
	.nav-mobile{
		z-index: 999;
		margin-bottom: 0 !important;
		.navbar-brand{
			font-size: 25px;
			text-decoration: none; 
			color:$pink;
			text-shadow:1px 1px 1px black;
		}
		.navbar-toggle{
			box-shadow:1px 1px 1px black;
			border-color: $pink;
			.icon-bar{
				background:$pink;
				text-shadow:1px 1px 1px black;
			}
		}
		.navbar-toggle:hover,
		.navbar-toggle:focus{
			background: transparent !important;
		}
		ul{
			li{
				a{
					font-size: 16px;
					text-transform: uppercase; 
					color: #fff;

					text-shadow:1px 1px 1px black;				
				}
			}
			li>a:hover,
			li>a:focus{
				color:$pink;
				background: none;
			}
		}
	}
}
.heading{
	width: 50%;
	z-index: 1;
	position: absolute;
	left: 43%;
	right: 0;
	top: 33%;
	h1{
		font-size: 45px;	
	}
	p{
		line-height: 50px;
		font-size: 40px;
	}
}
.arrow{
	animation: animate 3s infinite linear;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	top: 80%;
	i{
		font-size: 30px; 
		color: #333;
		text-shadow: 1px 1px 1px black;
	}
}
.greeting1{
	img{
		margin:0px auto; 
	}
	a{
		color:$pink;
		text-decoration: underline;
	}
	.video{
		iframe{
			padding-top: 40px;
		}
	}
}
.greeting2{
	background:#e8e4e1;
	h3{
		color:$pink;
	}
	img{
		margin:0px auto; 
	}
	p{
		span{
			color:$pink;
		}
	}
	ul{
		padding-left: 20px;
		li{
			span{
				font-style: italic;
			}
		}
	}
}
.school{
	.box{
		background:#e8e4e1;
		box-shadow: 2px 2px 5px black;
		padding:20px 10px; 
		margin:0px auto; 
		margin-top: 40px;
		width:90%;
		height: 150px;
		font-size: 22px; 
	}
}
.group{
	background:#e8e4e1;
	.box{
		background:#fff; 
		box-shadow: 2px 2px 5px black;
		padding:20px 10px; 
		margin:0px auto; 
		margin-top: 40px;
		width:90%;
	}
	h4{
		font-size:25px;
		text-transform: uppercase; 
	}
}
.schedule{
	background:#e8e4e1;
	.table-scroll{
		overflow: auto;
		padding-bottom: 40px;
	}
	caption{
		font-size: 20px;
		color:#333;
	}
	td{
		padding-top: 20px !important;
		padding-bottom: 20px !important;
		color:#000;
		font-size: 18px;
	}
}
.price{
	.table-scroll{
		overflow: auto;
		padding-bottom: 40px;
	}
	caption{
		font-size: 20px;
		color:#333;
	}
	td{
		padding-top: 20px !important;
		padding-bottom: 20px !important;
		color:#000;
		font-size: 18px;
	}
}
.gallery{
	padding-bottom: 40px;
	background:#e8e4e1;
	.thumb img { 
		filter: none; 
		-webkit-filter: grayscale(0); 
		border-radius:5px; 
		background-color: #333; 
		border: 1px solid #ddd; 
		padding:5px; 
	} 
	.thumb img:hover { 
		filter: gray; 
		-webkit-filter: grayscale(1); 
	} 
	.thumb { 
		padding:5px; 
	} 
	.mosaicflow__item { 
		padding:3px; 
	} 
	.mosaicflow__column { 
		float:left; 
	} 
	.mosaicflow__item img { 
		display:block; 
		width:100%; 
		height:auto; 
		padding: 4px; 
		background-color: #fff; 
		border: 1px solid #ddd; 
		border-radius: 4px; 
	} 
	.mosaicflow__item img:hover { 
		opacity: 0.6; 
		filter: alpha(opacity=60); 
	}
}
.fancybox-skin {
	background: #333 !important;
}
#blog{
	.pd{
		padding-top: 40px;
	}
	hr{
		border-top: 2px solid #eee;
	}
	background:#e8e4e1;
	.article{
		border-right: 2px solid #eee;
	}
	.article-item{
		.img-thumbnail {
			background: #333;
		}
		h3{
			margin-top: 0 ; 
		}
		img{
			width: 100%;
			margin-bottom: 30px;
		}

	}
	.paginat{
			text-align: center;
			.pagination{
				.active>a{
					background:grey;
					border-color:grey; 
				}
				a{
					color:#333;
				}
			}
	}
	.social{
		text-align: center;
		.vk-block{
			padding-top: 40px;
			#vk_groups{
				margin: 0px auto;
			}
		}
	}
}
.article-full{
	.pd{
		padding-top: 40px;
	}
	padding-bottom: 40px;
	background:#e8e4e1; 
	.col-md-8{
		border-right: 2px solid #eee;
	}
	h1{
		margin-top: 0;
	}
	img{
		width: 100%;
		margin-bottom: 20px;
	}
	.img-thumbnail {
		background: #333;
	}
}
.page404{
	background:#e8e4e1; 
}
.contacts{
	background:#e8e4e1;
	padding-bottom: 40px;
	.line-right{
		border-right: 2px solid #eee;
	}
	#google-map1{
		height: 400px;
		border:2px solid #333;
		margin-bottom: 20px;
	}
	#google-map2{
		height: 400px;
		border:2px solid #333;
		margin-bottom: 20px;
	}
	.social{
		text-align: center;
		.vk-block{
			padding-top: 40px;
			#vk_groups{
				margin: 0px auto;
			}
		}
	}
	.contacts-item{
		padding: 20px 0; 
		ul{
			list-style:none;
			padding: 0;
			margin:0;
			li{
				padding-top:10px;
				font-size: 20px;
				a{
					color:#333;
					text-decoration:none;
				}
			}
		}
		.icon{
			li{
				padding-top: 0;
				display: inline-block;
				margin-right: 20px;

				a{
					font-size: 30px;
					color:#333;
				}
			}
		}
	}
	form{
		outline: none !important;
		padding: 20px;
		background: #333; 
		input,textarea,button{
			background:#333;
			color:#fff; 
		}
		input:focus,
		textarea:focus{
			outline: none !important;
		}
		input::-webkit-input-placeholder {
		    color: #fff;
		}

		input::-o-input-placeholder {
		    color: #fff;
		}

		input::-moz-input-placeholder {
		    color: #fff;
		}

		textarea::-webkit-input-placeholder {
		    color: #fff;
		}

		textarea::-o-input-placeholder {
		    color: #fff;
		}

		textarea::-moz-input-placeholder {
		    color: #fff;
		}
		textarea{
			margin-bottom: 15px;
			resize: none;
			height: 120px;
		} 
		button:focus,
		button:hover{
			color:#fff;
			background:#333; 
			outline: 0 !important;
		}
	}
}

footer{
	position: relative;
	height: 200px;
	background: #333;
	background-size: cover;
}