doctype html
html(lang="rus")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Document
		link(rel="stylesheet", href="css/style.min.css")
	body
		header
			.top.filter
				.container-fluid.top-line
					.container
						.row
							.col-md-8.col-sm-6.col-xs-5
								ul
									li
										a(href="https://vk.com/" target="_blank")
											i(class="fa fa-vk" aria-hidden="true")
											span.hidden-xs.hidden-sm  vkontakte
									li
										a(href="https://www.facebook.com/" target="_blank")
											i(class="fa fa-facebook" aria-hidden="true")
											span.hidden-xs.hidden-sm  facebook
									li
										a(href="https://twitter.com/" target="_blank")
											i(class="fa fa-twitter" aria-hidden="true")
											span.hidden-xs.hidden-sm  twitter
									li
										a(href="https://www.instagram.com/" target="_blank")
											i(class="fa fa-instagram" aria-hidden="true")
											span.hidden-xs.hidden-sm  instagram

							.col-md-4.col-sm-6.col-xs-7
								a.number(href="#")
									i.fa.fa-phone
									span  +375-29-2353730

									
				.nav-block
					nav.nav-desctop.hidden-xs.hidden-sm
						.container
							.col-md-3.text-center
								a.logo(href="index.html")
									span GymLine
							.col-md-9
								ul
									li
										a(href="index.html") Главная
									li
										a(href="price.html") Расписание и цены
									li.activ-link
										a(href="gallery.html") Галерея
									li
										a(href="blog.html") Блог
									li
										a(href="#") Контакты
					nav.nav-mobile.hidden-md.hidden-lg.navbar.navbar-default
						.container-fluid
							.navbar-header
								button.navbar-toggle(type="button" data-toggle="collapse" data-target="#Navbar")
									span.icon-bar
									span.icon-bar
									span.icon-bar
								a.navbar-brand(href="#") GymLine
							#Navbar.collapse.navbar-collapse
								ul.nav.nav-navbar
									li
										a(href="index.html") Главная
									li.activ-link
										a(href="price.html") Расписание и цены
									li
										a(href="gallery.html") Галерея
									li
										a(href="blog.html") Блог
									li
										a(href="#") Контакты
		.gallery
			.container
				.row
					.col-xs-12.text-center
						h2 Галерея
				.row.gallery-items
					.col-md-3.col-sm-4.col-xs-6.thumb
						a.fancyimage(href="img/gallery/gallery1.jpg" rel="group")
							img.img-responsive(src="img/gallery/gallery1.jpg", alt="")
					.col-md-3.col-sm-4.col-xs-6.thumb
						a.fancyimage(href="img/gallery/gallery2.jpg" rel="group")
							img.img-responsive(src="img/gallery/gallery2.jpg", alt="")
					.col-md-3.col-sm-4.col-xs-6.thumb
						a.fancyimage(href="img/gallery/gallery3.jpg" rel="group")
							img.img-responsive(src="img/gallery/gallery3.jpg", alt="")
					.col-md-3.col-sm-4.col-xs-6.thumb
						a.fancyimage(href="img/gallery/gallery4.jpg" rel="group")
							img.img-responsive(src="img/gallery/gallery4.jpg", alt="")
					.col-md-3.col-sm-4.col-xs-6.thumb
						a.fancyimage(href="img/gallery/gallery5.jpg" rel="group")
							img.img-responsive(src="img/gallery/gallery5.jpg", alt="")
					.col-md-3.col-sm-4.col-xs-6.thumb
						a.fancyimage(href="img/gallery/gallery6.jpg" rel="group")
							img.img-responsive(src="img/gallery/gallery6.jpg", alt="")
					.col-md-3.col-sm-4.col-xs-6.thumb
						a.fancyimage(href="img/gallery/gallery7.jpg" rel="group")
							img.img-responsive(src="img/gallery/gallery7.jpg", alt="")
					.col-md-3.col-sm-4.col-xs-6.thumb
						a.fancyimage(href="img/gallery/gallery9.jpg" rel="group")
							img.img-responsive(src="img/gallery/gallery9.jpg", alt="")
					.col-md-3.col-sm-4.col-xs-6.thumb
						a.fancyimage(href="img/gallery/gallery10.jpg" rel="group")
							img.img-responsive(src="img/gallery/gallery10.jpg", alt="")
					.col-md-3.col-sm-4.col-xs-6.thumb
						a.fancyimage(href="img/gallery/gallery11.jpg" rel="group")
							img.img-responsive(src="img/gallery/gallery11.jpg", alt="")
					.col-md-3.col-sm-4.col-xs-6.thumb
						a.fancyimage(href="img/gallery/gallery12.jpg" rel="group")
							img.img-responsive(src="img/gallery/gallery12.jpg", alt="")
					.col-md-3.col-sm-4.col-xs-6.thumb
						a.fancyimage(href="img/gallery/gallery13.jpg" rel="group")
							img.img-responsive(src="img/gallery/gallery13.jpg", alt="")
					.col-md-3.col-sm-4.col-xs-6.thumb
						a.fancyimage(href="img/gallery/gallery14.jpg" rel="group")
							img.img-responsive(src="img/gallery/gallery14.jpg", alt="")
					.col-md-3.col-sm-4.col-xs-6.thumb
						a.fancyimage(href="img/gallery/gallery15.jpg" rel="group")
							img.img-responsive(src="img/gallery/gallery15.jpg", alt="")
					.col-md-3.col-sm-4.col-xs-6.thumb
						a.fancyimage(href="img/gallery/gallery16.jpg" rel="group")
							img.img-responsive(src="img/gallery/gallery16.jpg", alt="")
					.col-md-3.col-sm-4.col-xs-6.thumb
						a.fancyimage(href="img/gallery/gallery17.jpg" rel="group")
							img.img-responsive(src="img/gallery/gallery17.jpg", alt="")
					.col-md-3.col-sm-4.col-xs-6.thumb
						a.fancyimage(href="img/gallery/gallery18.jpg" rel="group")
							img.img-responsive(src="img/gallery/gallery18.jpg", alt="")
					.col-md-3.col-sm-4.col-xs-6.thumb
						a.fancyimage(href="img/gallery/gallery19.jpg" rel="group")
							img.img-responsive(src="img/gallery/gallery19.jpg", alt="")
					.col-md-3.col-sm-4.col-xs-6.thumb
						a.fancyimage(href="img/gallery/gallery20.jpg" rel="group")
							img.img-responsive(src="img/gallery/gallery20.jpg", alt="")
					.col-md-3.col-sm-4.col-xs-6.thumb
						a.fancyimage(href="img/gallery/gallery21.jpg" rel="group")
							img.img-responsive(src="img/gallery/gallery21.jpg", alt="")
					.col-md-3.col-sm-4.col-xs-6.thumb
						a.fancyimage(href="img/gallery/gallery22.jpg" rel="group")
							img.img-responsive(src="img/gallery/gallery22.jpg", alt="")
					.col-md-3.col-sm-4.col-xs-6.thumb
						a.fancyimage(href="img/gallery/gallery23.jpg" rel="group")
							img.img-responsive(src="img/gallery/gallery23.jpg", alt="")
					.col-md-3.col-sm-4.col-xs-6.thumb
						a.fancyimage(href="img/gallery/gallery24.jpg" rel="group")
							img.img-responsive(src="img/gallery/gallery24.jpg", alt="")
					.col-md-3.col-sm-4.col-xs-6.thumb
						a.fancyimage(href="img/gallery/gallery25.jpg" rel="group")
							img.img-responsive(src="img/gallery/gallery25.jpg", alt="")
		footer
		script(src="js/js.min.js")