include template-jade/header.jade
.container-fluid.top-line
	.container
		.row
			.col-md-8.col-sm-6.col-xs-12
				ul
					li
						a(href="https://vk.com/" target="_blank")
							i(class="fa fa-vk" aria-hidden="true")
							span.hidden-xs.hidden-sm  vkontacte
					li
						a(href="https://www.facebook.com/" target="_blank")
							i(class="fa fa-facebook" aria-hidden="true")
							span.hidden-xs.hidden-sm  facebook
					li
						a(href="https://twitter.com/" target="_blank")
							i(class="fa fa-twitter" aria-hidden="true")
							span.hidden-xs.hidden-sm  twitter
					li
						a(href="https://www.instagram.com/" target="_blank")
							i(class="fa fa-instagram" aria-hidden="true")
							span.hidden-xs.hidden-sm  instagram

			.col-md-4.col-sm-6.col-xs-12.clearfix
				form
						input.form-control(type="text" placeholder="Поиск по сайту")
						button.btn(type="submit")
							i.fa.fa-search		
					
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos voluptatem molestias debitis, id soluta vel, nemo aut esse sint voluptas quis, quo tenetur vero inventore enim. Atque, minima quis repudiandae!
script(src="js/js.min.js")