doctype html
html(lang="rus")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Document
		link(rel="stylesheet", href="css/style.min.css")
	body
		header
			#Carousel.carousel.slide(data-ride="carousel")
				.carousel-inner(role="listbox")
					.item.active
						.slide(style="background-image: url('img/slide1.jpg')")
						.carousel-caption
							h1 Школа художественной гимнастики 
							h2 Александры Наркевич
						
					.item
						.slide(style="background-image: url('img/slide1.jpg')")
						.carousel-caption
							h1 Школа художественной гимнастики 
							h2 Александры Наркевич	
						
					.item
						.slide(style="background-image: url('img/slide1.jpg')")
						.carousel-caption
							h1 Школа художественной гимнастики 
							h2 Александры Наркевич
						
					.item
						.slide(style="background-image: url('img/slide1.jpg')")
						.carousel-caption
							h1 Школа художественной гимнастики 
							h2 Александры Наркевич
			.top
				.container-fluid.top-line
					.container
						.row
							.col-md-8.col-sm-6.col-xs-5
								ul
									li
										a(href="https://vk.com/" target="_blank")
											i(class="fa fa-vk" aria-hidden="true")
											span.hidden-xs.hidden-sm  vkontacte
									li
										a(href="https://www.facebook.com/" target="_blank")
											i(class="fa fa-facebook" aria-hidden="true")
											span.hidden-xs.hidden-sm  facebook
									li
										a(href="https://twitter.com/" target="_blank")
											i(class="fa fa-twitter" aria-hidden="true")
											span.hidden-xs.hidden-sm  twitter
									li
										a(href="https://www.instagram.com/" target="_blank")
											i(class="fa fa-instagram" aria-hidden="true")
											span.hidden-xs.hidden-sm  instagram

							.col-md-4.col-sm-6.col-xs-7
								a.number(href="#")
									i.fa.fa-phone
									span  +375-29-2353730

									
				.nav-block
					nav.nav-desctop.hidden-xs.hidden-sm
						.container
							.col-md-3.text-center
								a.logo(href="")
									span gymline
							.col-md-9
								ul
									li
										a(href="#") Группы
									li
										a(href="#") Расписание и цены
									li
										a(href="#") Галерея
									li
										a(href="#") Новости
									li
										a(href="#") Контакты
					nav.nav-mobile.hidden-md.hidden-lg.navbar.navbar-default
						.container-fluid
							.navbar-header
								button.navbar-toggle(type="button" data-toggle="collapse" data-target="#Navbar")
									span.icon-bar
									span.icon-bar
									span.icon-bar
								a.navbar-brand(href="#") gymline
							#Navbar.collapse.navbar-collapse
								ul.nav.nav-navbar
									li
										a(href="#") Группы
									li
										a(href="#") Расписание и цены
									li
										a(href="#") Галерея
									li
										a(href="#") Новости
									li
										a(href="#") Контакты
		script(src="js/js.min.js")