doctype html
html(lang="rus")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Document
		link(rel="stylesheet", href="css/style.min.css")
	body
		header.index
			.top.filter
				.container-fluid.top-line
					.container
						.row
							.col-md-8.col-sm-6.col-xs-5
								ul
									li
										a(href="https://vk.com/" target="_blank")
											i(class="fa fa-vk" aria-hidden="true")
											span.hidden-xs.hidden-sm  vkontakte
									li
										a(href="https://www.facebook.com/" target="_blank")
											i(class="fa fa-facebook" aria-hidden="true")
											span.hidden-xs.hidden-sm  facebook
									li
										a(href="https://twitter.com/" target="_blank")
											i(class="fa fa-twitter" aria-hidden="true")
											span.hidden-xs.hidden-sm  twitter
									li
										a(href="https://www.instagram.com/" target="_blank")
											i(class="fa fa-instagram" aria-hidden="true")
											span.hidden-xs.hidden-sm  instagram

							.col-md-4.col-sm-6.col-xs-7
								a.number(href="#")
									i.fa.fa-phone
									span  +375-29-2353730

									
				.nav-block
					nav.nav-desctop.hidden-xs.hidden-sm
						.container
							.col-md-3.text-center
								a.logo(href="index.html")
									span GymLine
							.col-md-9
								ul
									li.activ-link
										a(href="index.html") Главная
									li
										a(href="price.html") Расписание и цены
									li
										a(href="gallery.html") Галерея
									li
										a(href="blog.html") Блог
									li
										a(href="contacts.html") Контакты
					nav.nav-mobile.hidden-md.hidden-lg.navbar.navbar-default
						.container-fluid
							.navbar-header
								button.navbar-toggle(type="button" data-toggle="collapse" data-target="#Navbar")
									span.icon-bar
									span.icon-bar
									span.icon-bar
								a.navbar-brand(href="#") GymLine
							#Navbar.collapse.navbar-collapse
								ul.nav.nav-navbar
									li.activ-link
										a(href="index.html") Главная
									li
										a(href="price.html") Расписание и цены
									li
										a(href="gallery.html") Галерея
									li
										a(href="#") Блог
									li
										a(href="contacts.html") Контакты
			.heading.text-center
				.row
					h1 Школа художественной гимнастики
					p.hidden-xs под руководством 
					p.hidden-xs призерa Олимпийский игр
					p  Александры Наркевич
			.arrow.hidden-xs
				i.fa.fa-arrow-down
		.greeting1.block-padding
			.container
				.row
					.col-md-6
						p Художественная гимнастика грациозный и невероятно красивый спорт. Только в нашей школе художественной гимнастики занятия проводит лично призер Олимпийских игр в Лондоне – 2012 Александра Наркевич.
						p И детские, и взрослые группы занимаются с профессиональными тренерами, которые найдут подход к каждому и помогут максимально раскрыть ваш потенциал. 
						p Если вы хотите, чтобы ваш ребенок развил гибкость и пластичность, если изящные гимнастки с лентой в руках вызывают у вас восторг и восхищение – приводите свою девочку к нам. И сами приходите в группы для взрослых, мы докажем вам, что все возможно. Время воплощать мечты в реальность!
						p Мы будем  рады познакомиться, приходите на 
							a(href="#") занятия.
					.col-md-6
						img.img-responsive(src="img/img1.png")
			.container
				.row.video
					.col-md-6
						.embed-responsive.embed-responsive-16by9
							iframe(src="https://www.youtube.com/embed/cR_HnPKLcbk" frameborder="0" width="100%" allowfullscreen)
					.col-md-6
						.embed-responsive.embed-responsive-16by9
							iframe(src="https://www.youtube.com/embed/Ljjixk3z9ko" frameborder="0" width="100%" allowfullscreen)
		.greeting2.block-padding
			.container
				.row
					.col-md-6
						img.img-responsive(src="img/img2.png")
					.col-md-6
						h3 Xудожественная гимнастика - это моя жизнь!
						p Любите ли Вы художественную гимнастику так, как люблю ее я?
						p Быть может, Вы не исключение и сами всегда мечтали стать гимнасткой, но боитесь, что уже поздно?
						p Школа художественной гимнастики «GymLine» ломает все стериотипы! Мы смело заявляем, что только у нас можно начать заниматься практически в любом возрасте. Такого в нашей стране еще не было.
						p Нам бы хотелось поделиться своим умением и опытом со всеми. Представляем Вам уникальный шанс: попробуйте для себя новое, раскройте свои возможности. Поверьте, Вы и Ваше тело способны на большее! Никогда не поздно открыть для себ что-то новое!
						p Вместе у нас все получится. Я твёрдо верю в это!
						p.text-right Ваша 
							span Александра Наркевич
						ul
							li
								span заслуженный мастер спорта Республики Беларусь
							li
								span серебряный призер Олимпийский игр в Лондоне в групповых упражнениях
							li
								span абсолютная чемпионка мира 2013 в групповых упражнениях
							li
								span чемпионка Европейских игр в Баку 2015 в групповых упраженениях

							li
								span призер Чемпионата мира и Европы, этапов Кубка мира

		
		.school.block-padding
			.container
				.row
					.col-xs-12.text-center.title
						h2 Школа 
							span GymLine
							
				.row.text-center
					.col-md-4.col-sm-6.col-xs-12
						.box
							p Два просторных и теплых зала для тренировок, расположенных по адресу Суворова, 18 и Якуба Коласа, 2
							
					.col-md-4.col-sm-6.col-xs-12
						.box
							p Комфортные раздевалки, хорошая акустика, новый спортинвентарь.
					.col-md-4.col-sm-6.col-xs-12
						.box
							p Детский уголок, где ребенок может играть после тренировки или пока тренируется мама.
					.col-md-4.col-sm-6.col-xs-12
						.box
							p Профессиональная команда тренеров, которые обеспечат дружелюбную атмосферу и нацелены на результат.
					.col-md-4.col-sm-6.col-xs-12
						.box
							p Мотивация малышей путем поощрения после тренировок.

					.col-md-4.col-sm-6.col-xs-12
						.box
							p Возможность принимать участие в конкурсах и открытых уроках.
		.group.block-padding
			.container-fluid
				.row
					.col-xs-12.text-center.title
						h2 Группы для занятий в школe 
							span Gymline
				.row
					.col-md-3.col-sm-6.col-xs-12
						.box
							h4.text-center взрослых
							p.text-center 14-19, 20-45 лет
							p Радоваться своему новому телу и своим новым свершениям можно в любом возрасте. Благодаря нашей методике, вы сможете совершенствовать свое тело, приобретете красивую осанку, научитесь грациозно двигаться, а ваша фигура приобретет красивые очертания. Легкость и уверенность в себе появятся сами собой. Будьте красивыми и здоровыми вместе с нами.
					.col-md-3.col-sm-6.col-xs-12
						.box
							h4.text-center детская
							p.text-center 3-6, 7-13 лет
							p Конечно, чтобы взлететь на мировой спортивный Олимп тренировки необходимо начинать в достаточно раннем возрасте. Современный спорт диктует свои правила и законы.
							p Мы идем в ногу со временем. В младшую группу мы принимаем девочек уже с 3 лет. Именно эта группа - самая перспективная. Из нее вырастут чемпионки. Девочки нашей школы становятся пластичными, грациозными, дисциплинированными и целеустремленными.

					.col-md-3.col-sm-6.col-xs-12
						.box
							h4.text-center мама + ребенок
							p Дорогие наши мамы! Мы прекрасно понимаем насколько важно для вас всегда быть рядом с собственным ребенком. Мы знаем, как вы переживаете каждую ссадину и неудачу вашего чадо. Как стремитесь обеспечить вашего сына или дочь самым лучшим, полезным, красивым. И, конечно, вы понимаете, что мама для ребенка образец не только духовного богатства, но и красоты.
							p Только в нашей школе художественной гимнастики вы проведете полноценную тренировку, не задумываясь о досуге и безопасности вашего ребенка. Ведь на протяжении всей тренировки ребенок находится у вас на виду. Вы занимаетесь, а малыш отдыхает и развивается. Ждем вас на занятия в группы «мама + ребенок».
					.col-md-3.col-sm-6.col-xs-12
						.box
							h4.text-center мальчики
							p Мы прислушиваемся к вам и вашим пожеланиям и готовы открыть группу для мальчиков. Если вам интересно, свяжитесь пожалуйста с нами по телефону 
		footer
		script(src="js/js.min.js")