doctype html
html(lang="rus")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Document
		link(rel="stylesheet", href="css/style.min.css")
	body
		header
			.top.filter
				.container-fluid.top-line
					.container
						.row
							.col-md-8.col-sm-6.col-xs-5
								ul
									li
										a(href="https://vk.com/" target="_blank")
											i(class="fa fa-vk" aria-hidden="true")
											span.hidden-xs.hidden-sm  vkontakte
									li
										a(href="https://www.facebook.com/" target="_blank")
											i(class="fa fa-facebook" aria-hidden="true")
											span.hidden-xs.hidden-sm  facebook
									li
										a(href="https://twitter.com/" target="_blank")
											i(class="fa fa-twitter" aria-hidden="true")
											span.hidden-xs.hidden-sm  twitter
									li
										a(href="https://www.instagram.com/" target="_blank")
											i(class="fa fa-instagram" aria-hidden="true")
											span.hidden-xs.hidden-sm  instagram

							.col-md-4.col-sm-6.col-xs-7
								a.number(href="#")
									i.fa.fa-phone
									span  +375-29-2353730
				.nav-block
					nav.nav-desctop.hidden-xs.hidden-sm
						.container
							.col-md-3.text-center
								a.logo(href="index.html")
									span GymLine
							.col-md-9
								ul
									li
										a(href="index.html") Главная
									li.activ-link
										a(href="price.html") Расписание и цены
									li
										a(href="gallery.html") Галерея
									li
										a(href="blog.html") Блог
									li
										a(href="contacts.html") Контакты
					nav.nav-mobile.hidden-md.hidden-lg.navbar.navbar-default
						.container-fluid
							.navbar-header
								button.navbar-toggle(type="button" data-toggle="collapse" data-target="#Navbar")
									span.icon-bar
									span.icon-bar
									span.icon-bar
								a.navbar-brand(href="#") GymLine
							#Navbar.collapse.navbar-collapse
								ul.nav.nav-navbar
									li
										a(href="index.html") Главная
									li.activ-link
										a(href="price.html") Расписание и цены
									li
										a(href="gallery.html") Галерея
									li
										a(href="blog.html") Блог
									li
										a(href="contacts.html") Контакты
		.schedule
			.container
				.row
					.col-xs-12.text-center
						h2 Расписание тренировок
				.row 
					.col-xs-12
						.table-scroll
							table.table-bordered.table.text-center
								caption Зал на Суворова 18. Группа для взрослых
								tr
									td время / день недели
									td понедельник
									td вторник
									td среда
									td четверг
									td пятница
								tr
									td 10:15 - 11:15
									td 
										i.fa.fa-check(aria-hidden="true")
									td 
									td 
										i.fa.fa-check(aria-hidden="true")
									td 
									td 
										i.fa.fa-check(aria-hidden="true")
								tr
									td 19:15 - 20:15
									td 
									td 
										i.fa.fa-check(aria-hidden="true")
									td 
									td 
										i.fa.fa-check(aria-hidden="true")
									td 
								tr
									td 20:15 - 21:15
									td 
										i.fa.fa-check(aria-hidden="true")
									td 
										i.fa.fa-check(aria-hidden="true")
									td 
										i.fa.fa-check(aria-hidden="true")
									td 
										i.fa.fa-check(aria-hidden="true")
									td 
										i.fa.fa-check(aria-hidden="true")
				hr
				.row
					.col-xs-12
						.table-scroll
							table.table.table-bordered.text-center
								caption Зал на Суворова 18. Группа для детей
								tr
									td время / день недели
									td понедельник 
									td вторник
									td среда
									td четверг
									td пятница
									td суббота
								tr
									td 12:00 - 13:00
									td 

									td 
									td 
									td 
									td 
									td 
										i.fa.fa-check(aria-hidden="true")
								tr
									td 16:30 - 17:30
									td 
										i.fa.fa-check(aria-hidden="true")
									td 
										i.fa.fa-check(aria-hidden="true")
									td 
										i.fa.fa-check(aria-hidden="true")
									td 
										i.fa.fa-check(aria-hidden="true")
									td 
										i.fa.fa-check(aria-hidden="true")
									td
								tr
									td 17:45 - 18:45
									td 
									td 
										i.fa.fa-check(aria-hidden="true")
									td 
									td 
										i.fa.fa-check(aria-hidden="true")
									td 
									td
								tr
									td 18:00 - 19:00
									td 
										i.fa.fa-check(aria-hidden="true")
									td 
									td 
										i.fa.fa-check(aria-hidden="true")
									td 
									td 
										i.fa.fa-check(aria-hidden="true")
									td
								tr
									td 19:00 - 20:00
									td 
										i.fa.fa-check(aria-hidden="true")
									td 
										i.fa.fa-check(aria-hidden="true")
									td 
										i.fa.fa-check(aria-hidden="true")
									td 
										i.fa.fa-check(aria-hidden="true")
									td 
										i.fa.fa-check(aria-hidden="true")
									td 
				hr
				.row
					.col-xs-12
						.table-scroll
							table.table.table-bordered.text-center
								caption Зал на Якуба Коласа 2. Группа для детей
								tr
									td время / день недели
									td понедельник
									td вторник
									td среда
									td четверг
									td пятница
								tr
									td(colspan="6") дети от 3 до 5 лет 
								tr
									td 17:45 - 18:45
									td 
										i.fa.fa-check(aria-hidden="true")
									td 
									td 
										i.fa.fa-check(aria-hidden="true")
									td 
									td 
										i.fa.fa-check(aria-hidden="true")
								tr
									td 19:00 - 20:00
									td 
										i.fa.fa-check(aria-hidden="true")
									td 
									td 
										i.fa.fa-check(aria-hidden="true")
									td 
									td 
										i.fa.fa-check(aria-hidden="true")
								tr
									td(colspan="6") дети с 7 лет и старше
								tr
									td 19:00 - 20:00
									td 
									td 
										i.fa.fa-check(aria-hidden="true")
									td 
									td 
										i.fa.fa-check(aria-hidden="true")
									td
		.price.block-padding
			.container
				.row
					.col-xs-12.text-center
						h2 Цены
				.col-xs-12
						.table-scroll
							table.table.table-bordered.text-center
								tr 
									td группа / занятия
									td 8 занятий
									td 12 занятий
									td 16 занятий
									td индивидуальное занятие
								tr 
									td взрослые утро
									td 55 рублей
									td 70 рублей
									td 95 рублей
									td 
										i.fa.fa-close(aria-hidden="true")
								tr 
									td взрослые вечер
									td 60 рублей
									td 75 рублей
									td 95 рублей
									td 38 рублей
								tr 
									td дети
									td 55 рублей
									td 70 рублей
									td 90 рублей
									td 38 рублей
								tr 
									td группа "интенсив" до 6 человек утро
									td 75 рублей
									td 95 рублей
									td 
										i.fa.fa-close(aria-hidden="true")
									td 
										i.fa.fa-close(aria-hidden="true")
								tr 
									td мама + ребенок
									td 75 рублей
									td 95 рублей
									td 
										i.fa.fa-close(aria-hidden="true")
									td 
										i.fa.fa-close(aria-hidden="true")
		footer
		script(src="js/js.min.js")